body {
    font-family: "Satoshi Variable-Medium", Helvetica;
    font-weight: Medium;
    background-color: #1e1e1e;
    color:#d9d9d9;
    padding: 0px;
    flex: 1;
   overflow-x: hidden;
    
  }
  
  
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 99%;
      padding: 20px;
      background-color: #1e1e1e;
  }
  
  .logo {
      font-size: 35px;
       color: #d9d9d9;
  }
  .brasil{
    font-family:"Clash Display Variable-Bold", Helvetica;
    font-weight: bold;
    
  }
  .sessenta {
    font-family: 'Clash Display Variable-Regular', Helvetica;
    font-weight: regular;
  }
  
  .nav-links {
      list-style: none;
      display: flex;
      gap: 15px;
   
  }
  
  .nav-links.active {
    display: flex;
  }
  .nav-links li {
     margin-left: 15px;
     position: relative;
  }
  
  .nav-links li a {
      color:#d9d9d9;
      text-decoration: none;
      padding: 8px 16px;
      border: 1.5px solid #d9d9d9;
      border-radius: 35px;
      font-size: 16px;
      transition: background-color 0.3s, color 0.3s;
      font-family: "Satoshi Variable-Medium", Helvetica;
  }
  
  .nav-links li a:hover {
    border-radius: 15px;
      background-color: #d9d9d9;
      color:#1e1e1e
      
    }
    .hamburger {
      display: none;
      font-size: 24px;
      background: none;
      border: none;
      color: white;
      cursor: pointer;
    }
    
    .side-menu {
      position: fixed;
      top: 0;
      right: -300px; /* Fora da tela inicialmente */
      width: 300px;
      height: 80%;
      background-color: #1e1e1e;
      color: #1e1e1e;
      overflow-y: auto;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
      transition: right 0.3s ease;
      padding: 20px;
      z-index: 2; 
    }
    
    /* Links principais */
    .side-menu .nav-links2 > li > a {
      display: block;
      padding: 10px 0;
      color: #EEEDF2;
      text-decoration: none;
      font-size: 22px;
      z-index: 1;
      position: relative;
      line-height: 3px;
      left: -6vw; top: -2vw;
      font-family: "Satoshi Variable-Medium", Helvetica;
    }
    
    
    /* Estilo para sublinks */
    .side-menu .sub-links {
      list-style: none;
      padding-left: 20px; /* Indenta os sublinks */
      margin: 10px 0 0;
    }
    .side-menu .nav-links2 > li > a:hover{
      color: #555;
    }
    .side-menu .sub-links li a {
      display: block;
      padding: 5px 0;
      font-size: 16px;
      color: #d9d9d9; /* Diferencia a cor dos sublinks */
      text-decoration: none;
      position: relative;
      left: -10vw;
      top: vw;
      font-family: "Satoshi Variable-Medium", Helvetica;
    }
    
    .side-menu .sub-links li a:hover {
      color: #555; /* Destaque ao passar o mouse */
    }
    /* Responsividade */
    @media (max-width: 768px) {
      .nav-links {
        display: none;
      }
      .hamburger {
        display: block;
      }
    }
    @media screen and (max-width: 768px) {
      .nav-links2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20vw;
        right: 30px;
    
        width: 200px;
        padding: 20px;
        border-radius: 10px;
      }
    
      .nav-links.active {
        display: flex;
      }
    
      
      .nav-links li a {
        text-align: center;
        width: 100%;
    }
    }
    /* Cabeçalho do side menu */
    .side-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc; /* Linha separadora */
    }
    
    /* Botão de voltar */
    .back-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #ccc;
    font-size: 16px;
    cursor: pointer;
    }
    
    /* Seta antes do texto no botão de voltar */
    .back-button span {
    margin-right: 5px; /* Espaço entre a seta e o texto */
    }
    
    /* Botão de voltar ao passar o mouse */
    .back-button:hover {
    color: #555;
    }
    
    /* Imagem do lado direito */
    .side-menu-logo {
    max-width: 50px;
    height: auto;
    border-radius: 50%; /* Opcional: para imagem circular */
    margin-left: 20px; /* Espaço entre botão e imagem */
    }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 110%;
    left: 50%;
    text-transform: center;
    text-align: center;
    transform: translateX(-50%);
    background-color: #d9d9d9;
    border-radius: 15px;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    min-width: 145px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
  .dropdown-menu li {
    width: 100%;
  }
  .dropdown-menu li a {
    padding: 10px 20px;
    left: 50%;
    transform: translateX(-10%);
    color: #1e1e1e;
    border: none;
    border-radius: 0;
  background-color: transparent;
  background: none;
    display: block;
    text-align:center;
    text-decoration: none;
  }
  
  .dropdown-menu li a:hover {
   background: none;
    color: #1e1e1e;
    text-decoration: underline;
    border-radius: 0;
    border: none;
    
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: #1e1e1e;
      width: 200px;
      padding: 20px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
    .nav-links li a {
      text-align: center;
      width: 100%;
  }
  }
  
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
    
  }

  .banner{
    position: relative;
    left: -15vw;
    width: 130vw;
    height: 38vw;
  }

  .vector-1{
    position: relative;
    top: -43vw;
    left: 5vw;
    width: 20vw;
    height: 25vw;
  }

  .foto-perfil{
    position: relative;
    top: -9vw;
    left: -11vw;
    border-radius: 4vw;
    width: 31vw;
    height: 32vw;
  }

  .nome{
    color: #FFF;
font-family: "Clash Display Variable-Bold";
font-size: 4vw;
font-style: normal;
font-weight: 600;
line-height: normal;
position: relative;
left: 46vw;
top: -32vw;
  }

  .data-1{
    color: #FFF;
font-family: "Clash Display Variable-Medium";
font-size: 3vw;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
left: 46vw;
top: -31vw;
  }

  .texto-1{
    color: #FFF;
font-family: "Satoshi Variable-Regular";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 40vw;
position: relative;
left: 46vw;
top: -26vw;
  }

  
  .peso{
    color: #FFF;
font-family: "Satoshi Variable-Bold";
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
  }

  .patern-1{
    position: relative;
    top: -24vw;
    left: -3vw;
    width: 45vw;
    height: 20vw;
  }

  .um{
    position: relative;
    top: -17vw;
  }

  .titulo-1{
    color: #FFF;
    font-family: "Clash Display Variable-Bold";
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 15vw;
    top: 0vw;
  }

  @media (max-width: 768px) {
    .titulo-1 , .um .titulo-2{
      font-size: 40px;
      width: 50vw;
    }
 .texto-1 , .peso{
  font-size: 15px;
 }
  }
  @media (max-width: 768px){
   .um .texto-2 , .um .peso-2 , .um .texto-3 , .dois .texto-4 {font-size: 18px;};
   
  }
  .vector-2{
    position: relative;
    top: -10vw;
    left: 76vw;
    width: 10vw;
    height: 15vw;
  }

  .texto-2{
    color: #FFF;
font-family: "Satoshi Variable-Regular";
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
left: 15vw;
top: -9vw;
width: 65vw;
  }

  .peso-2{
    color: #FFF;
font-family: "Satoshi Variable-Bold";
font-size: 35px;
font-style: normal;
font-weight: 900;
line-height: normal;
  }

  .titulo-2{
    color: #FFF;
    font-family: "Clash Display Variable-Bold";
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 15vw;
    top: 0vw;
    width: 60vw;
  }

  .vector-3{
    position: relative;
    top: -13vw;
    left: 76vw;
    width: 10vw;
    height: 15vw;
  }
  
  .texto-3{
    color: #FFF;
    font-family: "Satoshi Variable-Regular";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 15vw;
    top: -10vw;
    width: 65vw;
  }

  .dois{
    position: relative;
    top: -20vw;
  }

  .rectangle-1{
    border-radius: 50px;
background: #D95BB7;
    width: 80vw;
    height: 55vh;
    position: relative;
    left: -5vw;
  }

  .texto-4{
    color: #FFF;
font-family: "Clash Display Variable-Regular";
font-size: 42px;
font-style: normal;
font-weight: 200;
line-height: normal;
width: 55vw;
position: relative;
left: 15vw;
top: -20vw;
  }

  .texto-5{
    color: #F2CD5E;
font-family: "Clash Display Variable-Semibold";
font-size: 2.2vw;
font-style: normal;
font-weight: 500;
line-height: normal;
position: relative;
left: 15vw;
top: -18vw;
  }
  @media (max-width: 768px){
    .dois .texto-5 , .dois .texto-4 {font-size: 20px; width: 60vw;top: -45vw};
   
   }
   @media (max-width: 768px){
    .rectangle-1{ width: 100%;height: 50vw;}
   }
  .tres {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    position: relative;
    left: 10vw;
}

.div1 {
    grid-column: span 6 / span 6;
    grid-row: span 6 / span 6;
    position: relative;
    top: -20vw;
    left: -10vw;
}

.ou-panis{
    position: relative;
border-radius: 3vw;
left: -4vw;
width: 60vw;
height: 50vw;
}
@media (max-width: 768px){
  .div1 .ou-panis {
    height: 80vw;
    width: 78vw;
    left: -10vw;
  }
  .div2 .texto-6 {
    left: 12vw;
    font-size: 12px;
  }
}
@media (max-width: 768px){
   .div2 .texto-7 { left: 12vw;
    font-size: 12px;}
}
.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 5;
    position: relative;
    top: -16vw;
    left: -5vw;
}

.texto-6{
    color: #FFF;
font-family: "Satoshi Variable-Regular";
font-size: 1.8vw;
font-style: normal;
font-weight: 300;
line-height: normal;
position: relative;
top: -2vw;
}

.texto-7{
    color: #FFF;
font-family: "Clash Display Variable-Medium";
font-size: 2vw;
font-style: normal;
font-weight: 300;
line-height: normal;
 position: relative;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 8;
    grid-row-start: 2;
    position: relative;
    top: -17vw;
    left: -2vw;
}

.patern-2{
    width: 30vw;
    height: 15vw;
}

.div4 {
    grid-column: span 9 / span 9;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 7;
    position: relative;
    top: -13vw;
}

.texto-8{
    color: #FFF;
font-family: "Satoshi Variable-Regular";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 60vw;
position: relative;
left: -8vw;
}

.vector-4{
    width: 10vw;
    height: 10vw;
    position: relative;
    left: 62vw;
    top: -11vw;
}
@media (max-width: 768px){
  .div4 .texto-8{ font-size: 12px;}
  .div4 .vector-4{ top: -14vw;}
}

.quatro {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;
    position: relative;
    top: -22vw;
    
    
}
    
.div5 {
    grid-column: span 5 / span 5;
    grid-row: span 7 / span 7;
    grid-column-start: 6;
}

.diabo{
    position: relative;
    border-radius: 3vw;
    left: -7vw;
    width: 59w;
    height: 60vw;
    }
    @media (max-width: 768px){
       .div5 .diabo{
        height: 80vw;
        width: 74vw;
        left: -28vw;
        top: -16vw;
      }
    }
    .div6 {
        grid-column: span 3 / span 3;
        grid-row: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 6;
        position: relative;
        top: -35vw;
        left: -18vw;
    }

.texto-9{
    color: #FFF;
    font-family: "Satoshi Variable-Regular";
    font-size: 1.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    top: -1vw;
}

.texto-10{
    color: #FFF;
    font-family:"Clash Display Variable-Medium";
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60vw;
    position: relative;
    }
    @media (max-width: 768px){
      .div6  .texto-9 , .div6 .texto-10{
left: -10vw; font-size: 12px; width: 20vw;
      }
    }
    .div8 {
        grid-column: span 8 / span 8;
        grid-row: span 3 / span 3;
        grid-column-start: 2;
        grid-row-start: 8;
        position: relative;
        top: -45vw;
        left: -10vw;
    }

    .texto-11{
        color: #FFF;
        font-family: "Satoshi Variable-Regular";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 60vw;
        position: relative;
        left: -10vw;
    }
    @media (max-width: 768px){
      .div8 .texto-11{ font-size: 12px;}
      .div8 .vector-5{ top: -14vw;}
    }

    .vector-5{
        width: 10vw;
    height: 10vw;
    position: relative;
    left: 60vw;
    top: -11vw;

    }

    .texto-12{
      color: #F2CD5E;
font-family: "Clash Display Variable-Bold";
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: relative;
left: -10vw;
top: -3vw;
    }
    
    @media (max-width: 768px){
      .div8 .texto-12{
        font-size: 17px;
        top: -3vw;
      }
    }

    .capas-1 {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
      gap: 8px;
      position: relative;
      left: -10vw;
      top: -40vw;
  }
  .div9 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    position: relative;
    top: -40vw;
    
}
  .gal{
    width: 30vw;
    height: 30vw;
    position: relative;
  border-radius: 50px;
  }

  .div10 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 5;
   
}
@media (max-width: 768px){
  .div10 .titulo-4 , .div12 .titulo-5 , .div14 .titulo-6{
    font-size: 20px; top: -60vw;
  }
  .div10 .texto-13 , .div12 .texto-14 , .div14 .texto-15{
    font-size: 15px; top: -50vw;
  }
}
.titulo-4{
  color: #FFF;
font-family: "Clash Display Variable-Medium";
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
top: -35vw;
left: 3vw;
}

.texto-13{
  color: #FFF;
font-family: "Satoshi Variable-Regular";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
top: -33vw;
left: 3vw;
width: 25vw;
}

.div11 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 1;
  position: relative;
  left: 10vw;
  
}
.div12 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 5;
  position: relative;
  left: 6vw;
}

.gil{
  width: 30vw;
  height: 30vw;
  position: relative;
  border-radius: 50px;
  top: -40vw;
  left: -3vw;
}

.titulo-5{
  color: #FFF;
  font-family: "Clash Display Variable-Medium";
  font-size: 28px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  position: relative;
  top: -35vw;
  left: 5vw;
}

.texto-14{
  color: #FFF;
  font-family: "Satoshi Variable-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: -33vw;
  left: 5vw;
  width: 25vw;
}

.div13 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 6;
  grid-row-start: 1;
  position: relative;
  left: 14vw;

}

.div14 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 6;
  grid-row-start: 5;
}

.expresso{
  width: 30vw;
  height: 30vw;
  position: relative;
  border-radius: 50px;
  top: -40vw;
 
}

.titulo-6{
  color: #FFF;
  font-family: "Clash Display Variable-Medium";
  font-size: 28px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  position: relative;
  top: -35vw;
  left: 17vw;
  

}

.texto-15{
  color: #FFF;
  font-family: "Satoshi Variable-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: -33vw;
  left: 17vw;
  width: 25vw;
}

.cinco{
  position: relative;
  top: -40vw;
}
.texto-16{
  color: #FFF;
  font-family: "Satoshi Variable-Regular";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 60vw;
  position: relative;
  left: 30vw;
  top: -40vw;
}
@media (max-width: 768px){
  .cinco .texto-16{
    font-size: 14px;
   
  }
  .cinco .vector-6{
    top: -52vw;
  }
  .seis .titulo-7{
    font-size: 20px;
  }
}
.vector-6{
  width: 10vw;
  height: 10vw;
  position: relative;
  left: 10vw;
  top: -50vw;
}

.seis{
  position: relative;
  left: 10vw;
  top: -10vw;
}
.titulo-7{
  color: var(--amarelo, #F2CD5E);
font-family: "Clash Display Variable-Bold";
font-size: 50px;
font-style: normal;
font-weight: 200;
line-height: normal;
width: 60vw;
position: relative;
top: -65vw;
}

.filmes{
  width: 100%;
  height: auto;
  position: relative;
  left: -10vw;
  top: -60vw;
}

.titulo-8{
  color: #FFF;
    font-family: "Clash Display Variable-Bold";
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    
    top: 0vw;
}
.sete{
  position: relative;
  top: -60vw;
  left: 10vw;
}
@media (max-width: 768px) {
  .sete .titulo-8 , .oito .titulo-9{
    font-size: 40px;
  }

}
@media (max-width: 768px){
 .sete .texto-17 , .sete .peso-2 , .oito .peso-2 , .oito .texto-18{font-size: 15px;};
 
}
@media (max-width: 768px){
  .nove .texto-19{font-size: 18px; top: -46vw};
 
}
.vector-7{
  position: relative;
  top: -7vw;
  left: 70vw;
  width: 10%;
  height: 15%;
}

.texto-17{
  color: #FFF;
  font-family: "Satoshi Variable-Regular";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  
  
  width: 80vw;
}
.oito{
  position: relative;
  top: -45vw;
  left: 10vw;
}
.titulo-9{
  color: #FFF;
    font-family: "Clash Display Variable-Bold";
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    
    top: 0vw;
}
.vector-8{
  position: relative;
  top: -7vw;
  left: 70vw;
  width: 10%;
  height: 15%;
}

.texto-18{
  color: #FFF;
  font-family: "Satoshi Variable-Regular";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  
  
  width: 80vw;
}
.nove{
  position: relative;
  top: -40vw;
  left: 10vw;
}
.rectangle-2{
  border-radius: 50px;
background: #D95BB7;
  width: 90vw;
  height: 25vw;
  position: relative;
  left: -20vw;
}

.texto-19{
  color: #FFF;
  font-family: "Satoshi Variable-Regular";
  font-size: 30px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  position: relative;
  top: -20vw;
  
  width: 60vw;
}

.titulo-10{
  color: var(--amarelo, #F2CD5E);
font-family: "Clash Display Variable-Bold";
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 60vw;
position: relative;
top: -5vw;
}
@media (max-width: 768px){
  .nove .titulo-10{ font-size: 30px; top: -25vw;}
  .nove .rectangle-2{
    width: 100%; height: 50vw;
  }
}

/* Container para restringir a visualização */
.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  top: -35vw;
  width: 100%;
  height: 21vw; /* Ajuste a altura conforme necessário */
}

/* Estilo do conteúdo com repetição */
.scroll-content {
  display: flex;
  animation: scroll-horizontal 7s linear infinite; /* Ajuste a velocidade */
}

.scroll-content img {
  height: 100%;
  width: auto; /* Mantém a proporção */
  display: block;
}

/* Animação para rolagem infinita */
@keyframes scroll-horizontal {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%);
  }
}
@media (max-width: 1024px) {
  .scroll-container {
      height: 250px; /* Ajuste para telas médias */
  }

  .scroll-content {
      animation: scroll-horizontal 12s linear infinite; /* Animação mais lenta */
  }
  .scroll-content img {
    max-height: 200px; /* Reduz a altura da imagem */
}
}

@media (max-width: 768px) {
  .scroll-container {
      height: 200px; /* Ajuste para tablets */
  }

  .scroll-content {
      animation: scroll-horizontal 8s linear infinite; /* Animação ainda mais lenta */
  }

  .scroll-content img {
    max-height: 100px; /* Reduz ainda mais a altura da imagem */
}
}

@media (max-width: 480px) {
  .scroll-container {
      height: 150px; /* Ajuste para telas pequenas */
  }

  .scroll-content {
      animation: scroll-horizontal 8s linear infinite; /* Animação mais lenta para telas menores */
  }
  .scroll-content img {
    max-height: 100px; /* Imagens menores para smartphones */
}
}
.final{
  position: relative;
  top: -40vw;
  left: 0vw;
}
.footer {
    
  color: #ffffff;
  padding: 1vw 0;
  padding-left: 7vw;
  position: relative;
  top: 20vw;
  font-size: 1.5vw;
  font-weight: 2vw
  ;
  z-index: 1;
  font-size: "Satoshi Variable-Regular";
}

.footer-content {
  display: flex;
  justify-content: left; 
  align-items: left;
 
 }

.info-section, .help-section {
  flex: 1;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 8px 0;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}

ul li a:hover {
  text-decoration: underline;
}
body {
  
  font-weight: regular;
  font-size: 21px;
  top: 105px;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Alinha os itens em uma coluna */
    align-items: left; /* Centraliza os itens */
    text-align: center; /* Centraliza o texto */
    top: 50vw;
  }
  .footer{
    font-size: 13px;
    top: 5vw;
  }
  .info-section, .help-section {
    min-width: 100%; /* As seções ocupam toda a largura */
    margin-bottom: 20px; /* Espaçamento entre as seções */
  }

  .accessibility-icon {
    margin: 10px auto; /* Centraliza o ícone */
  }

  .rodape{
    position: relative;
    top: -14vw;
    width: 100%;
    height: 70%;
  }

  .barra{
    width: 100%;
  }
}



.rodape{
  position: relative;
  top: 0vw;
}
.accessibility-buttons {
  position: fixed;
  top: 20%;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.accessibility-buttons button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.accessibility-buttons button:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
.accessibility-buttons {
    top: auto;
    bottom: 20px;
    right: 10px;
    flex-direction: row;
    justify-content: center;
}

.accessibility-buttons button {
    padding: 8px;
    font-size: 14px;
}
}

/* Responsividade para telas muito pequenas (celulares) */
@media (max-width: 480px) {
.accessibility-buttons {
    bottom: 10px;
    right: 5px;
    gap: 5px;
}

.accessibility-buttons button {
    padding: 6px;
    font-size: 12px;
}
}
@media screen and (max-width: 768px){
  .home{
    display: block;
  }

  .container__imagem{
    width: 50vw;
  }

  .container__caixa{
    margin: 2em 2em;
  }
}